<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <HideDesignINotice>true</HideDesignINotice>
  <Enabled>true</Enabled>
  <OverlayVisible>true</OverlayVisible>
  <Left>-7</Left>
  <Top>381</Top>
  <Width>251</Width>
  <Height>431</Height>
  <NoticeLeft>221</NoticeLeft>
  <IsTimelineLiveUpdate>false</IsTimelineLiveUpdate>
  <NotifyInterval>20</NotifyInterval>
  <ProgressBarRefreshInterval>40</ProgressBarRefreshInterval>
  <TimelineRefreshInterval>100</TimelineRefreshInterval>
  <PSyncDetectInterval>100</PSyncDetectInterval>
  <NotifyThreadPriority>Normal</NotifyThreadPriority>
  <TimelineThreadPriority>Normal</TimelineThreadPriority>
  <NoticeTop>372</NoticeTop>
  <NoticeWidth>307</NoticeWidth>
  <NoticeHeight>438</NoticeHeight>
  <IsMute>false</IsMute>
  <Clickthrough>true</Clickthrough>
  <OverlayOpacity>1.0000000000000002</OverlayOpacity>
  <OverlayScale>1</OverlayScale>
  <NearestActivityScale>1.2</NearestActivityScale>
  <NextActivityBrightness>0.8</NextActivityBrightness>
  <ShowActivitiesCount>10</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>true</IndicatorVisible>
  <IndicatorStyle>HEADER</IndicatorStyle>
  <ActivityMargin>3 8 3 0</ActivityMargin>
  <OverlayBackground>#CC000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Default</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEADER</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FFBCA98A</BarColor>
      <BarHeight>2</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>NOTICE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFB22222</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>NOTICE_NORMAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="24" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000080</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>TANK</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF00BFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF7CFC00</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>DPS</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFF4500</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>ORANGE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFA500</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>YELLOW</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFD900</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>PURPLE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Microsoft YaHei" Size="15" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FF9370DB</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
  </Styles>
  <TimelineFiles>
    <File Key="G:\FF14-Timeline-For-Team\raids_Eden_Season2-1_Savage.xml" Value="true" />
    <File Key="G:\FF14-Timeline-For-Team\raids_Eden_Season2-2_Savage.xml" Value="true" />
    <File Key="G:\FF14-Timeline-For-Team\raids_Eden_Season2-3_Savage.xml" Value="true" />
    <File Key="G:\FF14-Timeline-For-Team\raids_Eden_Season2-4_Savage.xml" Value="true" />
    <File Key="G:\FF14-Timeline-For-Team\test.xml" Value="true" />
  </TimelineFiles>
</TimelineConfig>
